body{
    font-family: Arial;
    margin: 0;
    padding: 0;
}

img{
    margin-right: 20px;
    margin-top: 5px;
}

header {
    border: 1px solid rgba(24, 41, 68, 0.933);
    color: white;
    background: rgb(12 24 46);
}
header #logo{
    vertical-align: middle;
}

header .text-logo{
    color: whitesmoke;
    font-size: 2rem;
    margin: 0 30px;
    font-style: italic;
}
#cuerpo{
    padding: 25px;
    font-size: 1.2rem;
    background: whitesmoke;
    width: 80%;
    margin: auto;
    margin-top: 30px;
    padding-top: 1px;
}

footer{
    background: #0c182e;
    text-align: center;
    padding: 10px 0;
    color: #beebf3;
}